* 
div.wrapper {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px blue ;
}


body { 
    background-color: #FFD4AF;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
}

p {
    margin-bottom: 16px;
}

header {
    background-color: #FFFFFF;
    color: #000000; 
}

header h1 {
    font-family: helvetica, arial, sans-serif;
    font-weight:500;
}

header a {
    color: #000000;
    text-decoration: none;
}

header a:hover {
    color: #319CB2;
}

/* MAIN CONTENT */
article {
    clear: both;
    padding 0 10px 0 10px;
}

article h1 {
    color: #000000;
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

article h3 { 
    font-size: 18px;
    line-height: 28px;
}


article a:hover {
    color: #319CB2;
}
    
aside {
    float: left;
    margin-right: 5%;
    margin-bottom: 10px;
    width: 47.5%;
}

/* PAGE FOOTER */
footer nav {
    clear: both;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

footer h6 {
    padding: 0 10px 0 10px;
}
        
footer a:hover {
    color: #319CB2;
} 

        